<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: t('main.app.name'), 
      keywords: 'receiptr, receipt, spotify, song sorter, album receipt, album sorter',
      reverse: true,
      twitter: { card: 'summary' },
      separator: '/',
      og: {
        title: :title,
        site_name: :site, 
        description: t('main.app.description'), 
        image: asset_url('og_image')
      },
      viewport: 'width=device-width,initial-scale=1'
    %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/navbar' %>
      <main>
        <section class="section">
          <div class="container">
            <%= yield %>
          </div>
        </section>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
